<!--  -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <title>Journals app</title>
  </head>
  <body>


<div class="container">
  <header class="jumbotron"><h1>BE THE  JOURNALIST OF YOUR COMMUNITY</h1></header>


<form action="/articles/add/" method="POST">
   <input type="text" name="tittle" placeholder="Tittle of article"> 

<div class="form-group">
  <label for="content">Comment:</label>
  <textarea class="form-control" rows="5" id="comment"></textarea>
</div>
    
   <input type="text" name="author" placeholder="Name of Author"> 
   <input type="text" name="date" placeholder="Date"> 
   <input type="submit" name="">
</form>

</div>


 </body>
</html>

